/* Gradient transparent - color - transparent */

hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(234, 5, 238, 0.983), rgba(13, 15, 157, 0.796), rgba(234, 5, 238, 0.983));
}

/* h3 {
    background: -webkit-linear-gradient(#ea05eefb, #0d0f9dcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

