/* .ol-map {
  min-width: 600px;
  min-height: 400px; */
  /* margin: 50px; */
  /* height: 60vh;
  width: 50vw; */
/* } */

.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: 0.5em;
  right: 0.5em;
}

.ol-zoom {
  top: 1em;
  left: 0.5em;
  height: 3.5em;
  width: 1.5em;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
.ol-zoom-in {
  margin-top: .5em
}
.ol-zoom-out {
  margin-top: .5em
} */

.ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
.ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}

.ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
.ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}



.ol-zoomslider {
  top: 8px;
  left: 8px;
  right: auto;
  background-color: rgba(255,69,0,0.2);
  width: 200px;
  height: 15px;
  padding: 0;
  box-shadow: 0 0 5px rgb(255,69,0);
  border-radius: 7.5px;
}

.ol-zoomslider:hover {
  background-color: rgba(255,69,0,0.3);
}

.ol-zoomslider-thumb {
  height: 15px;
  width: 15px;
  margin: 0;
  filter: none;
  background-color: rgba(255,69,0,0.6);
  border-radius: 7.5px;
}

a.ol-zoomslider-handle:hover {
  background-color: rgba(255,69,0,0.7);
}
